

<% if @homes %>
<% @homes.each do |h| %> 

        <p><%= h.address %></p> 
        <p><%= h.city %></p> 
        <p><%= h.state %></p> 
        <p><%= h.zip %></p> 
        
   <% end %>
   <% else %>
   <p> No Posts </p>
   <% end %>