

<!-- <body class="cyan darken-2">
 --><div class="parallax-container">
   <div class="container searchcontainer">   
    <div class="row">
    </div>
    <div class="row">
     <div class="input-field white-text z-depth-4 search cyan accent-4">  
      
       <%= form_tag '/homes',:method =>'get' do %>
       <%=text_field_tag :search%>
      <!--  <a href="/homes" class="searchbtn waves-effect waves-light btn"><i class="material-icons right">icon</i>Search</a> -->
       <% end %>
       <!-- <input class="white-text serachbox"type="text" name"search"  width="65%" > -->
        <%%>
       </form>
      

     </div>
    
    </div>
   </div>
      
    <div class="parallax">
        <img src="/assets/dogonbeach.jpg">
    </div>
</div>
  
 <div class="row">
    <div class="col s4">HELLOO</div>
    <div class="col s4">HEELOO</div>
    <div class="col s4">HEELLOOO</div> 
 </div>  
<!--  </body>
 -->  
