

<body>
  <div class="parallax-container">
   <div class="container searchcontainer">   
    <div class="row">
    </div>
    <div class="row">
     <div class="input-field black-text z-depth-5 search white">   
      <%= form_tag '/homes',:method =>'get' do %>
      <input placeholder="               Enter State, City or Zip               Then hit Enter" type="text" class="validate" name="search">

      <!--  <a href="/homes" class="searchbtn waves-effect waves-light btn"><i class="material-icons right">icon</i>Search</a> -->
      <% end %>
      <!-- <input class="white-text serachbox"type="text" name"search"  width="65%" > -->
      <%%>
      

    </div>
    
  </div>
</div>

<div class="parallax">
  <img src="/assets/dogonbeach.jpg">
</div>
</div>

<div class="row">
  <div class="col s4">
    <div class="row">
    <i class="material-icons center-align">info_outline</i>
    </div>
    <div class="row">
      <p class="sitetitle">About</p>
      <p>DogHome was created to ease the frustation that comes iwth finding a home when you are a dog owner. We strive to make the process of finding a home and neighborhood easier.  
      </div>
    </div>
    <div class="col s4">
      <div class="row">
       <i class="material-icons center-align">star_rate</i>
     </div>
     <div class="row">
      <p class="sitetitle">User-Friendly</p>
      <p>Sign up and create a profile that will accurately depict your</p>
    </div>
  </div>
  <div class="col s4">
    <div class="row">
     <i class="material-icons center-align">input</i>
   </div>
   <div class="row">
    <p class="sitetitle"> Landlords</p>
    <p> Do you have a pet-friendly property that you would like to list with us? Let us
      help you find your next tenant. We have a quick and easy process to seamlessly get your home on the market in minutes! </p>
    </div>
  </div> 
</div>  
<footer class="page-footer cyan darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">with us</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!"><img class="icon" src="https://cdn0.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_facebook_box_blue.png"></img></a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><img class="icon" src="http://www.wreckthetapedeck.com/wp-content/uploads/2013/10/David-Alexander-Willis-Hal-9000-2001-A-Space-Odyssey-instagram-icon.png"></img></a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><img class="icon" src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Twitter-icon.png"></img></a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><img class="icon" src="http://vignette2.wikia.nocookie.net/logopedia/images/c/c4/Pinterest-icon.png/revision/latest?cb=20121109020054"></img></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
</body>

