

<!-- <body class="cyan darken-2">
 --><div class="parallax-container">
   <div class="container searchcontainer">   
    <div class="row">
    </div>
    <div class="row">
     <div class="input-field black-text z-depth-4 search">        
     
      <%= form_tag '/homes',:method =>'get' do %>
       <input placeholder="Enter State, City or Zip      Then hit Enter" type="text" class="validate" name="search">
    
    <!--  <a href="/homes" class="searchbtn waves-effect waves-light btn"><i class="material-icons right">icon</i>Search</a> -->
       <% end %>
       <!-- <input class="white-text serachbox"type="text" name"search"  width="65%" > -->
        <%%>
      

     </div>
    
    </div>
   </div>
      
    <div class="parallax">
        <img src="/assets/dogonbeach.jpg">
    </div>
</div>
  
 <div class="row">
    <div class="col s4">HELLOO</div>
    <div class="col s4">HEELOO</div>
    <div class="col s4">HEELLOOO</div> 
 </div>  
<!--  </body>
 -->  
