.searchbtn {
	position: absolute;
	top: 0;
}

.searchbox {
	position: relative;
}

.cards {
	margin-top: 80px
}

.card-title {
	margin-top: 10px
}

.html {
	font-family: 'Open Sans';

}

.fluid {
	background-image: url("/assets/dogonbeach.jpg");
	width: 90%; 
}