.parallax-container {
      height: "your height here";
    }

.input-field {
	margin-top: 380px;
	opacity: .8 ;
}

.searchcontainer {
	max-width:600px;
}

.searchbtn {
	position: absolute;
	top: 0;
}

.searchbox {
	position: relative;
}