.parallax-container {
      height: "your height here";
    }

.input-field {
	margin-top: 400px;
/*	opacity: .9 ;
*/}

.searchcontainer {
	max-width:600px;
}

.html {
	font-family: 'Open Sans';

}
.icon {
	height:30px;
	width:30px;
}
.sitetitle
{
	font-family: 'Open Sans';
	font-weight: 700;
}