<!DOCTYPE html>
<html lang="en">
<head>
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 

  </head>
<body>
<div class="container-fluid">
  <nav>
    <div class="nav-wrapper yellow accent-2">
      <a href="#" class="black-text brand-logo">Your Rental App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html" class="black-text">Sass</a></li>
        <li><a href="badges.html" class="black-text">Components</a></li>
        <li><a href="collapsible.html" class="black-text">JavaScript</a></li>
      </ul>
    </div>
  </nav>
</div>

<%= yield %>
</body>
</html>
